:root {
    --light-gray: hsl(212, 45%, 89%);
    --light-blue: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.qr-box {
    background-color: white;
    max-width: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}

h1 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 1.25rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    color: var(--light-blue);
    font-size: 1rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    /* Maintains aspect ratio */
    border-radius: 10px;
    margin-bottom: 20px;
}